body {
    background-color: #dbdac5;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

body header {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contatos-rodolfo-wanderley {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.contato-rodolfo {
    position: relative;
    width: 300px;
    top: 110px;
    left: 0;
}

.contato-wanderley {
    position: absolute;
    width: 280px;
    top: 110px;
    right: 4%;
}

.whatsapp-rodolfo {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 303px;
    width: 12%;
}

.whatsapp-wanderley {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 303px;
    width: 13%;
}

.email-rodolfo {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 310px;
    width: 8%;
}

.email-wanderley {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 310px;
    width: 8.5%;
}

.contato-escritorio {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    top: 8cm;
    box-sizing: border-box;
    border: 0px solid #000000;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}

.contato-escritorio p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.contato-escritorio:hover {
    background: #e2c5c5;
    font-size: 24px;
    color: #631616;
    border: 5px solid #FEFEFE;
    border-radius: 10px;
    cursor: pointer;
}

.whatsapp-escritorio {
    display: inline-block;
    position: absolute;
    margin-right: 40%;
    width: 7.5%;
   
}

.email-escritorio {
    display: inline-block;
    position: relative;
    margin-left: 40%;
    width: 4.5%;
}

.webmail {
    position: relative;
    margin: 0 auto;
    width: 15%; 
    text-align: center;
    box-sizing: border-box;
    border: 0px solid #000000;
    border-radius: 10px;
    transition: 1s;
    top: 10cm;
}

.webmail:hover {
    background: #e2c5c5;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
}





