body {
    background-color: #dbdac5;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
}

.contatos-rodolfo-wanderley {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.contato-rodolfo {
    position: absolute;
    width: 300px;
    top: 110px;
    left: 0;
}

.contato-wanderley {
    position: absolute;
    width: 280px;
    top: 110px;
    right: 0;
}

.whatsapp-rodolfo {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 303px;
    width: 12%;
}

.whatsapp-wanderley {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 303px;
    width: 13%;
}

.email-rodolfo {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 310px;
    width: 8%;
}

.email-wanderley {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 310px;
    width: 8.5%;
}

.contato-escritorio {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    top: 10cm;
}

.contato-escritorio p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.whatsapp-escritorio {
    display: inline-block;
    position: absolute;
    width: 7.5%;
    top: 46px;
    left: 520px;
}

.email-escritorio {
    display: inline-block;
    position: absolute;
    width: 5%;
    top: 48px;
    right: 520px;
}

.webmail {
    position: absolute;
    bottom: 10px;
    left: 44%;
    width: 240px; 
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: 1s;
}

.webmail:hover {
    background: #e2c5c5;
    cursor: pointer;
}




