body {
    background-color: #dbdac5;
        margin-left: 0px;
        margin-top: 0px;
}

.contato-rodolfo {
    display: inline-block;
    position: absolute;
    top: 310px;
    left: 330px;
}

.contato-wanderley {
    display: inline-block;
    position: absolute;
    top: 310px;
    left: 1280px;
}

.whatsapp-rodolfo {
    display: inline-block;
    vertical-align: top;
    width: 2%;
}

.whatsapp-wanderley {
    display: inline-block;
    vertical-align: top;
    width: 5%;
}

.email-rodolfo {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 310px;
    width: 1.3%;
}

.email-wanderley {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 310px;
    width: 3.2%;
}

.mapa {
    position: absolute;
    left: 750px;
    bottom: 80px;
}

.titulo-localizacao {
    font-family: 'Montserrat', sans-serif;
}

footer {
   position: absolute;
   bottom: 0;
}



